In [10]:
import pandas as pd

In [19]:
df = pd.read_csv('binary_train.csv')
df.head()

   banner_pos  site_id  app_id  device_model  click
0           0        0       0            44      0
1           0        0       0            53      0
2           0        0       0            70      0
3           0        0       0           104      0
4           0        0       0           121      0

In [20]:
df.app_id.unique()

array([   0,    2,    4, ..., 8139, 8152, 8489])

In [21]:
df.site_id.unique()

array([   0,    2,    3, ..., 4229, 4734, 3316])

In [22]:
df.app_id.unique()

array([   0,    2,    4, ..., 8139, 8152, 8489])

In [23]:
df.device_model.unique()

array([  44,   53,   70, ..., 6401, 7243, 8126])

In [24]:
df[df.click == 1]

        banner_pos  site_id  app_id  device_model  click
269684           0        0       0             0      1
269685           0        0       0             1      1
269686           0        0       0             2      1
269687           0        0       0             3      1
269688           0        0       0             4      1
269689           0        0       0             5      1
269690           0        0       0             6      1
269691           0        0       0             7      1
269692           0        0       0             9      1
269693           0        0       0            10      1
269694           0        0       0            11      1
269695           0        0       0            12      1
269696           0        0       0            14      1
269697           0        0       0            15      1
269698           0        0       0            16      1
269699           0        0       0            18      1
269700           0        0       0            19      1
269701           0        0       0            20      1
269702           0        0       0            21      1
269703           0        0       0            22      1
269704           0        0       0            23      1
269705           0        0       0            25      1
269706           0        0       0            26      1
269707           0        0       0            27      1
269708           0        0       0            28      1
269709           0        0       0            29      1
269710           0        0       0            30      1
269711           0        0       0            31      1
269712           0        0       0            32      1
269713           0        0       0            33      1
...            ...      ...     ...           ...    ...
539338           5        7    8155           136      1
539339           5        7    8489            95      1
539340           6        7    4295           234      1
539341           6        7    4295          1472      1
539342           6        7    6043           234      1
539343           6        7    7413           234      1
539344           6        7    7413           709      1
539345           6        7    7582           234      1
539346           6     1688       0             4      1
539347           6     1688       0            10      1
539348           6     1688       0          1341      1
539349           6     1897       0             2      1
539350           6     1897       0             7      1
539351           6     1897       0            10      1
539352           6     1897       0            26      1
539353           6     1897       0            42      1
539354           6     1897       0            46      1
539355           6     1897       0           102      1
539356           6     1897       0           982      1
539357           6     1897       0          2401      1
539358           6     3316       0           234      1
539359           6     3830       0            10      1
539360           6     3830       0            26      1
539361           6     3830       0            33      1
539362           6     3830       0            77      1
539363           6     3830       0           610      1
539364           6     3830       0           983      1
539365           6     3830       0          1006      1
539366           6     3830       0          1088      1
539367           6     4480       0             2      1

[269684 rows x 5 columns]